{%- liquid
  assign bg_color = section.settings.background-color
  assign container_width = section.settings.container-width
  assign light_text = section.settings.light-text
  assign spacing_above = section.settings.spacing-above
  assign spacing_below = section.settings.spacing-below

  capture app_blocks
    for block in section.blocks
      render block
    endfor
  endcapture
-%}

<div
  class="apps--root"
  data-section-id="{{ section.id }}"
  data-background-color="{{ bg_color }}"
  data-container-width="{{ container_width }}"
  data-light-text="{{ light_text }}"
  data-spacing-above="{{ spacing_above }}"
  data-spacing-below="{{ spacing_below }}"
>
  <div class="apps--wrapper">
    <div class="product-page-reviews-section">
      <div id="stamped-main-widget" class="stamped-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: " ? ", " % 3F" | replace: "& "," % 26"}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}"> {{ product.metafields.stamped.reviews }}</div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product review app",
  "templates":["product"],
  "settings": [
    {
      "id": "background-color",
      "label": "Background color",
      "type": "select",
      "options": [
        { "label": "None", "value": "none" },
        { "label": "Light", "value": "light" },
        { "label": "Dark", "value": "dark" },
        { "label": "Accent", "value": "accent" }
      ],
      "default": "none"
    },
    {
      "id": "light-text",
      "label": "Use light text color",
      "type": "checkbox",
      "default": false
    },
    {
      "id": "container-width",
      "label": "Width of container",
      "type": "range",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "id": "spacing-above",
      "label": "Spacing above",
      "type": "checkbox",
      "default": true
    },
    {
      "id": "spacing-below",
      "label": "Spacing below",
      "type": "checkbox",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Product review"
    }
  ]
}
{% endschema %}
